@import 'bootstrap/dist/css/bootstrap.css';
@import url('all.min.css');
@import "@fancyapps/ui/dist/fancybox/fancybox.css";

:root{
    --red : #541920;
}

body{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    overflow-x: hidden !important;
    color: var(--red);
}

h1, h2, h3, h4, h5, h6{
    font-family: "Libre Baskerville", serif;
}

.row{
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.ff-spartan{
    font-family: "League Spartan", sans-serif !important;
}

.ff-libre{
    font-family: "Libre Baskerville", serif;
}

.fs-0{
    font-size: 180px;
}

.mt-6{
    margin-top: 6rem !important;
}

.mb-6{
    margin-bottom: 6rem !important;
}

.my-6{
    margin-top: 6ch !important;
    margin-bottom: 6rem !important;
}

.bg-glass{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.fondo-oscuro{
    background-color: rgba(84, 25, 32, 0.8);
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    mix-blend-mode: multiply;
}

.text-red{
    color: var(--red);
}

.bg-red{
    background-color: var(--red) !important;
    color: white !important;
}

.bg-outline-red{
    background-color: white;
    border: 1px solid var(--red);
}

.fill-red{
    fill: var(--red);
}

.navbar .nav-link {
    font-weight: normal;
    color: var(--red);
    font-family: "Libre Baskerville", serif;
}

.navbar-nav .nav-link.active{
    color: var(--red);
    border-bottom: 2px solid var(--red);
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--red);
}

.text-shadow{
    text-shadow: 1px 1px 2px #000;
}

.btn-red{
    background-color: var(--red);
    color: white;
}

.btn-red:hover{
    background-color: #400f15;
    color: white;
    transition: 0.3s;
}

.btn-outline-red{
    background-color: transparent;
    color: var(--red);
    border: 1px solid var(--red);
}

.btn-outline-red:hover{
    background-color: var(--red);
    color: white;
    transition: 0.3s;
}

.btn-glass{
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-weight: 300;
}

.btn-glass:hover{
    background: rgba(255, 255, 255, 1);
    transition: 0.3s;
    color: black;
}

.btn-light{
    color: var(--red) !important;
}

.title-inventory{
    color: var(--red);
}

[data-fancybox]:hover{
    cursor: pointer;
}

.offcanvas-body, .offcanvas-header{
    background-color: transparent;
    color: var(--red);
}

.lang-icon{
    fill: var(--red);
}

.offcanvas-footer{
    background-color: var(--red);
}

@media (max-width: 992px) {

    .title-inventory{
        color: white;
    }

    .mt-6{
        margin-top: 3.5rem !important;
    }
    
    .mb-6{
        margin-bottom: 3.5rem !important;
    }
    
    .my-6{
        margin-top: 3.5rem !important;
        margin-bottom: 3.5rem !important;
    }

    .fs-0{
        font-size: 70px;
    }

    .offcanvas-body, .offcanvas-header{
        background-color: var(--red);
        color: white !important;
    }

    .navbar .nav-link {
        color: white;
        font-family: "League Spartan", sans-serif;
        font-weight: light;
    }
    
    .navbar-nav .nav-link.active{
        color: white;
        border-bottom: 2px solid white;
    }

    .lang-icon{
        fill: white;
    }

}